.aside {
    background-color: var(--background-color-alt);
    margin: auto;
        
}

[class^="aside__"] {
    padding-top: 1rem;
    padding-bottom: 1rem;
} 

.aside__logo {
    font-size: 1.5rem;
    text-align: center;
}

.aside__logo img {
    width: 3rem;
    height: 3rem;
}

.aside__nav {
    text-align: center;
}

.aside__nav li {
    margin-bottom: 1rem;
}

.aside__nav li:last-child {
    margin-bottom: 0;
}

.aside__nav a {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
}

@media screen and (min-width: 768px) {

    .aside .container{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 2rem 0;
    }

    .aside__brand {
        width: 35%;
        padding: 0;
    }

    .aside__logo {
        padding-top: 0;
    }

    .aside__logo,
    .aside__nav {
        text-align: left;
        padding-bottom: 0;
    }

    .aside__contact {
        width: 60%;
    }

    .aside__contact .form__input {
        margin-bottom: 1rem;
    }

}

@media screen and (min-width: 1024px) {

    .aside__brand {
        display: flex;
        justify-content: space-between;
        width: 40%;
    }

    .aside__contact {
        width: 47.5%;
    }

}