.header {
    background-color: var(--white-color);
}

.header .container {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.header__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
}

.header__button {
    font-weight: 700;
    width: 8rem;
    text-align: center;
}

.header__search-text {
    display: none;
}

@media screen and (min-width: 768px) {

    .header__actions {
        flex-direction: row-reverse;
        width: 70%;
    }
    
    .header__search {
        width: 55%;
        background-color: var(--background-color);
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 1.25rem;
    }

    .header__search-text {
        display: inline-block;
    }

}